<!-- <%= link_to 'Sign in with Deezer', "https://connect.deezer.com/oauth/auth.php?app_id=#{ENV["deezer_application_id"]}&redirect_uri=http://localhost:3000/auth/deezer/callback&perms=basic_access,email,manage_library" %> -->



<div class="login-form">
  <p id="alert"></p>
  <h1 class="title">LOG IN</h1>
  <%= form_tag sessions_path, method: :post do %>
  <div class="input-field field">
    <%= label_tag :email %><br />
    <%= text_field_tag :email %>
  </div>
  <div class="field input-field">
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </div>
  <button class="btn login-session" id="login-button" type="submit" name="action">LOG IN</button>
</div>


<% end %>
