<div class="sign-up-form">
  <h1 class="title">SIGN UP</h1>
  <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
      <div class="error_messages">
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field input-field">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name %>
    </div>
    <div class="field input-field">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name %>
    </div>
    <div class="field input-field">
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </div>
    <div class="field input-field">
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </div>
    <div class="field input-field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
    </div>
    <button class="btn login-session" id="sign-up-button" type="submit" name="action">Sign Up</button>
</div>
<% end %>
