<div class="buttons-user party-buttons">
  <div><%= link_to "Host a Party", new_playlist_path, class: 'btn parties host-button' %></div>
  <div><%= link_to "Join a Party", join_path, class: 'btn parties join-button' %></div>
</div>

<div class="hosted-playlists"><span id="host-title">Hosted Playlists</span>
  <ul>
    <% @hosted.each do |playlist| %>
    <div class="playlist-block">
      <%= link_to playlist_path(playlist) do %>
      <div class='hosted-playlist' playlist-id="<%=playlist.id%>">
        <img src='<%= playlist.album_art %>' class="playlist_image">
        <li class="hosteduser-playlist">  <span class="playlist-title"><%= playlist.name %> </span> <br> <%= playlist.theme %> <br> Code: <%= playlist.access_code %> </li>
      </div>
      <% end %>
    <span class='edit-delete'><span class="guestlist"><%= link_to "Guestlist", '#modal1' %> |</span> <span class="edits"> <%= link_to "Edit", edit_playlist_path(playlist) %> | <%= link_to "Delete", playlist_path(playlist), method: :delete %> </span></span>
    </div>
    <% end %>
  </ul>
</div>



<div class="guest-playlists"><span id="guest-title">Guest Playlists</span>
  <ul>
    <% @guest.each do |playlist| %>
    <div class="playlist-block">
      <%= link_to playlist_path(playlist) do %>
      <div class="guest-playlist">
        <img src='<%= playlist.album_art %>' class="playlist_image">
        <li class="guestuser-playlist"> <span> <span class="playlist-title"> <%= playlist.name %> </span> <br> <%= playlist.theme %> </span>  </li>
      </div>
      <% end %>
    </div>
    <% end %>
  </ul>
</div>


<div class="guest-list-container modal" id="modal1">
  <h3 class='guest-title'>Guest List</h3>

  <ol>

  </ol>
</div>
