<div class="search-container">
  <div class="search-bar">
    <div class="search-area"/>
    <div class="search-button"><span>SEARCH</span></div>
    </div>
  </div>
</div>

<div class="artists-container">
  <div class="artists-title"><span id="artists-title" >ARTISTS</span></div>
  <div class="artist-container">
    <div class="artist-image"><img src="https://unsplash.it/50/50"></div>
    <div class="artist-details">
      <div class="artist-name">Kaskade</div>
      <div class="number-songs">12 songs</div>
    </div>
    <div class="see-more-icon"><%=image_tag("arrow_mobile.png", height: '15px', width: '15px') %></div>
  </div>

  <div class="artist-container">
    <div class="artist-image"><img src="https://unsplash.it/50/50"></div>
    <div class="artist-details">
      <div class="artist-name">Kaskade</div>
      <div class="number-songs">12 songs</div>
    </div>
    <div class="see-more-icon"><%=image_tag("arrow_mobile.png", height: '15px', width: '15px') %></div>
  </div>

  <div class="artist-container">
    <div class="artist-image"><img src="https://unsplash.it/50/50"></div>
    <div class="artist-details">
      <div class="artist-name">Kaskade</div>
      <div class="number-songs">12 songs</div>
    </div>
    <div class="see-more-icon"><%=image_tag("arrow_mobile.png", height: '15px', width: '15px') %></div>

  <div class="see-all-container">
    <div class="see-all-button">SEE ALL ARTISTS</div>
  </div>
  </div>
</div>


<div class="albums-container">
  <div class="albums-title"><span id="albums-title" >ALBUMS</span></div>
  <div class="album-container">
    <div class="album-image"><img src="https://unsplash.it/50/50"></div>
    <div class="album-details">
      <div class="album-name">Automatic</div>
      <div class="number-songs">15 songs</div>
    </div>
    <div class="see-more-icon"><%=image_tag("arrow_mobile.png", height: '15px', width: '15px') %></div>
  </div>

  <div class="album-container">
    <div class="album-image"><img src="https://unsplash.it/50/50"></div>
    <div class="album-details">
      <div class="album-name">Automatic</div>
      <div class="number-songs">15 songs</div>
    </div>
    <div class="see-more-icon"><%=image_tag("arrow_mobile.png", height: '15px', width: '15px') %></div>
  </div>

  <div class="album-container">
    <div class="album-image"><img src="https://unsplash.it/50/50"></div>
    <div class="album-details">
      <div class="album-name">Automatic</div>
      <div class="number-songs">15 songs</div>
    </div>
    <div class="see-more-icon"><%=image_tag("arrow_mobile.png", height: '15px', width: '15px') %></div>

  <div class="see-all-container">
    <div class="see-all-button">SEE ALL ALBUMS</div>
  </div>
  </div>
</div>

<div class="songs-container">
  <div class="songs-title"><span id="songs-title" >SONGS</span></div>
  <div class="song-container">
    <div class="song-image"><img src="https://unsplash.it/50/50"></div>
    <div class="song-details">
      <div class="song-name">Disarm You</div>
      <div class="song-artists">Kaskade, Zedd | 4 mins</div>
    </div>
    <div class="see-more-icon"><%=image_tag("arrow_mobile.png", height: '15px', width: '15px') %></div>
  </div>

  <div class="song-container">
    <div class="song-image"><img src="https://unsplash.it/50/50"></div>
    <div class="song-details">
      <div class="song-name">Disarm You</div>
      <div class="song-artists">Kaskade, Zedd | 4 mins</div>
    </div>
    <div class="see-more-icon"><%=image_tag("arrow_mobile.png", height: '15px', width: '15px') %></div>
  </div>

  <div class="song-container">
    <div class="song-image"><img src="https://unsplash.it/50/50"></div>
    <div class="song-details">
      <div class="song-name">Disarm You</div>
      <div class="song-artists">Kaskade, Zedd | 4 mins</div>
    </div>
    <div class="see-more-icon"><%=image_tag("arrow_mobile.png", height: '15px', width: '15px') %></div>

  <div class="see-all-container">
    <div class="see-all-button">SEE ALL ALBUMS</div>
  </div>
  </div>
</div>
