<% if @access == "Forbidden" %>

  <div class="pink lighten-2 blocked-message">
    <h1>Sorry, you have been blocked from viewing this playlist.</h1>
    <div><%= image_tag(("emoji.png"), :class => "emoji") %></div>
  </div>

<% else %>

  <div>
  <div class="playlist-details">
  <div class="playlist-name">&nbsp<%= @playlist_q.name %>&nbsp</div><div class="playlist-description">&nbsp<%= @playlist_q.description %>&nbsp</div>
  <div class="playlist-code">&nbsp Access Code: <%=@playlist_q.access_code%></div> <% if @access == "Host" || @access == "Guest" %>
  <% if @access == "Host" %>

  <span class="guestlist-playlist"><a class="waves-effect waves-light btn cyan darken-4" href='#modal1'>Guest List</a></span>
  <span><a id="make-public" class="waves-effect waves-light btn teal accent-4">
    <%if @playlist_q.public %>
    <%= "Locked" %>
    <% else %>
    <%= "All Access" %>
    <% end %>
  </a></span>
</div>
 <% end %>

  </div>

<div id="d_player"></div>
<div id="dz-root"></div>


  <script type="text/javascript">
  <%= render :partial => "dz.js" %>
  </script>

  <% if @access == "Host" %>
    <script type="text/javascript">
      <%= render :partial => "player.js" %>
    </script>
  <% end %>

  <link rel="stylesheet" media="all" href="cssbasic.css" />
<link rel="stylesheet" media="(min-width: 500px)" href="csswide.css" />

  <script type="text/javascript">
    <%= render :partial => "nextsong.js" %>
  </script>

  <% if (@playlist_q.public) && (@access == "Guest" || @access == "Viewer") %>
  <div class="hidden add-search-container">
    <a class=" waves-effect waves-light btn pink darken-1">Add a song</a>
  <% else %>
  <div class="add-search-container">
    <a class="waves-effect waves-light btn pink darken-1">Add a song</a>
  <% end %>
</div>

  <div class="search-container hidden">
    <section class="search">

      <a class="hidden back waves-effect waves-light btn pink darken-1">Back to playlist</a>

      <!-- <button class="back">Back to playlist</button> -->
      <%= form_tag  playlist_suggestedsongs_path(params[:id]), method: "get" do |f| %>
        <div class="field">
          <%= text_field_tag :search, nil, placeholder:'Search Music' %>
          <span class="search-submit"><%= submit_tag "Search" %></span>
        </div>
      <% end %>

      <div id="search_results"></div>
    </section>
    </div>


<div class="song-list">
  <% @songs.each do |song| %>


    <% if song.status == "played" %>
      <div class="song-in-queue played" data-playlist-id=<%=@playlist_q.id%> data-suggested-song-id=<%= song.id %>>
    <% elsif song.status == "playing" %>
      <div class="song-in-queue playing" data-playlist-id=<%=@playlist_q.id%> data-suggested-song-id=<%= song.id %>>
    <% else %>
      <div class="song-in-queue que" data-playlist-id=<%=@playlist_q.id%> data-suggested-song-id=<%= song.id %>>
    <% end %>


    <%= song.name %> - <%= song.artist %><br/>
    <span class="added-by">Added By: <%= User.find(song.user_id).first_name %></span>

      <% if (@access == "Host") %> <!-- if the user is host -->
        <% if @playlist_q.public %>
          <span class="contain">
            <span class="hidden buttons"><button type="button" name="button" class="hidden upvote btn-flat waves-effect waves-light blue darken-2"><i class="material-icons">thumb_up</i></button>&nbsp<button type="button" name="button" class="hidden downvote  btn waves-effect waves-light red lighten-2"><i class="material-icons">thumb_down</i></button></span> &nbsp
          </span>
        <%else %>
          <% if song.status == "que" %>
            <% if Vote.find_by(suggestedsong_id: song.id, user_id: session[:user_id]) %>
            <% @vote_now = Vote.find_by(suggestedsong_id: song.id, user_id: session[:user_id]).status %>
              <% if @vote_now == "up" %>
              <span class="contain">
                <a class="btn-flat waves-effect waves-light amber accent-4 delete-song-show delete-song"><i class="material-icons">delete</i></a>
                <span class="buttons"><button type="button" name="button" class="upvote btn-flat waves-effect waves-light blue darken-2"><i class="material-icons">thumb_up</i></button>&nbsp<button type="button" name="button" class="downvote  btn waves-effect waves-light red lighten-2"><i class="material-icons">thumb_down</i></button></span> &nbsp
              </span>
              <% elsif @vote_now == "down" %>
                <span class="contain">
                  <a class="btn-flat waves-effect waves-light amber accent-4 delete-song-show delete-song"><i class="material-icons">delete</i></a>
                  <span class="buttons"><button type="button" name="button" class="upvote btn waves-effect waves-light blue lighten-2"><i class="material-icons">thumb_up</i></button>&nbsp<button type="button" name="button" class="downvote  btn-flat waves-effect waves-light red darken-2"><i class="material-icons">thumb_down</i></button></span> &nbsp
                </span>
              <% end %>
            <% else %>
              <span class="contain">
                <a class="btn-flat waves-effect waves-light amber accent-4 delete-song-show delete-song"><i class="material-icons">delete</i></a>
                <span class="buttons"><button type="button" name="button" class="upvote btn waves-effect waves-light blue lighten-2"><i class="material-icons">thumb_up</i></button>&nbsp<button type="button" name="button" class="downvote  btn waves-effect waves-light red lighten-2"><i class="material-icons">thumb_down</i></button></span> &nbsp
              </span>
            <% end %>

          <% elsif song.status == "playing" %>
            <span class="contain">
              <span class="hidden buttons"><button type="button" name="button" class="hidden upvote btn waves-effect waves-light blue darken-2"><i class="material-icons">thumb_up</i></button>&nbsp<button type="button" name="button" class="hidden downvote btn waves-effect waves-light red"><i class="material-icons">thumb_down</i></button></span> &nbsp
            </span>
          <% else %> <!-- if song is played -->
            <span class="contain">
              <a class="btn-flat waves-effect waves-light amber accent-4 delete-song-show delete-song"><i class="material-icons">delete</i></a>
              <span class="hidden buttons"><button type="button" name="button" class="hidden upvote btn waves-effect waves-light blue darken-2"><i class="material-icons">thumb_up</i></button>&nbsp<button type="button" name="button" class="hidden downvote btn waves-effect waves-light red"><i class="material-icons">thumb_down</i></button></span> &nbsp
            </span>
          <% end %> <!-- end of if the playlist is public/private -->
        <% end %>  <!-- end of if the user is Host -->
      <% elsif (@access == "Guest") %> <!-- if the user is Guest -->
        <% if @playlist_q.public == false %> <!-- if playlist is private -->
          <% if song.status == "que" %>
            <% if Vote.find_by(suggestedsong_id: song.id, user_id: session[:user_id]) %>
            <% @vote_now = Vote.find_by(suggestedsong_id: song.id, user_id: session[:user_id]).status %>
              <% if @vote_now == "up" %>
              <span class="contain">
                <span class="buttons"><button type="button" name="button" class="upvote btn-flat waves-effect waves-light blue darken-2"><i class="material-icons">thumb_up</i></button>&nbsp<button type="button" name="button" class="downvote  btn waves-effect waves-light red lighten-2"><i class="material-icons">thumb_down</i></button></span> &nbsp
              </span>
              <% elsif @vote_now == "down" %>
                <span class="contain">
                  <span class="buttons"><button type="button" name="button" class="upvote btn waves-effect waves-light blue lighten-2"><i class="material-icons">thumb_up</i></button>&nbsp<button type="button" name="button" class="downvote  btn-flat waves-effect waves-light red darken-2"><i class="material-icons">thumb_down</i></button></span> &nbsp
                </span>
              <% end %>
            <% else %>
              <span class="contain">
                <% if (User.find(song.user_id).id == session[:user_id]) %>
                  <a class="btn-flat waves-effect waves-light amber accent-4 delete-song-show delete-song"><i class="material-icons">delete</i></a>
                <% end %>
                <span class="buttons"><button type="button" name="button" class="upvote btn waves-effect waves-light blue lighten-2"><i class="material-icons">thumb_up</i></button>&nbsp<button type="button" name="button" class="downvote  btn waves-effect waves-light red lighten-2"><i class="material-icons">thumb_down</i></button></span> &nbsp
              </span>
            <% end %>
          <% elsif song.status == "playing" %>
            <span class="contain">
              <span class="hidden buttons"><button type="button" name="button" class="hidden upvote btn waves-effect waves-light blue darken-2"><i class="material-icons">thumb_up</i></button>&nbsp<button type="button" name="button" class="hidden downvote btn waves-effect waves-light red"><i class="material-icons">thumb_down</i></button></span> &nbsp
            </span>
          <% else %> <!-- if song is played -->
            <span class="contain">
              <span class="hidden buttons"><button type="button" name="button" class="hidden upvote btn waves-effect waves-light blue darken-2"><i class="material-icons">thumb_up</i></button>&nbsp<button type="button" name="button" class="hidden downvote btn waves-effect waves-light red"><i class="material-icons">thumb_down</i></button></span> &nbsp
            </span>
          <% end %>
        <% else %> <!-- if playlist is public -->
          <span class="contain">
            <span class="hidden buttons"><button type="button" name="button" class="hidden upvote btn waves-effect waves-light blue darken-2"><i class="material-icons">thumb_up</i></button>&nbsp<button type="button" name="button" class="hidden downvote btn waves-effect waves-light red"><i class="material-icons">thumb_down</i></button></span> &nbsp
          </span>
        <% end %>
      <% else %> <!-- if the user is Viewer -->
        <span class="contain">
          <span class="hidden buttons"><button type="button" name="button" class="hidden upvote btn waves-effect waves-light blue darken-2"><i class="material-icons">thumb_up</i></button>&nbsp<button type="button" name="button" class="hidden downvote btn waves-effect waves-light red"><i class="material-icons">thumb_down</i></button></span> &nbsp
        </span>
      <% end %>

      <span class="heart"><span class="netvote" id=<%=song.id%>><%= song.net_vote %></span>&nbsp<i class="fa fa-heart" style="font-size:12px"></i></span>

    </div> <!-- ends the song div -->

    <% end %> <!-- ends the song loop -->
</div>

<div class="guest-list-container modal" id="modal1">
  <h3 class='guest-title'>Guest List</h3>

  <!-- <span class="modal-action modal-close waves-effect waves-green btn-flat">X</span> -->
  <ol>
  </ol>
</div>
    <% end %>
  <% end %>
